<p style="color: green"><%= notice %></p>


<%= render partial: "shared/header" %>
<%= render partial: "shared/sidebar" %>

<main id="main" class="main">
    <div class="pagetitle">
      <h1>Events</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Home", authenticated_root_path %></li>
          <li class="breadcrumb-item">Events </li>
          <li class="breadcrumb-item active">View Event</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section Users">
      <div class="row">
        <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="card-body">
                  <h2 class="card-title"><%= @event.title%></h2>
                    <h4><%=@event.description%></h4>
                       <table class="table table-stripped">
                          <tbody>
                            <tr><td>Category</td><td><%=EventCategory.find_by(id:@event.event_categories_id).event_category%></td></tr>
                            <tr><td>Location</td><td><%=@event.location%></td></tr>
                            <tr><td>Start </td><td><%=@event.start_date%> at <%=@event.start_time.strftime("%I:%M%p")%></td></tr>
                            <tr><td>End </td><td><%=@event.end_date%> at <%=@event.end_time.strftime("%I:%M%p")%></td></tr>                            
                            <tr><td>Approved</td> 
                              <%if @event.is_approved == false%>
                                <td> <%="Disapproved"%></td>
                                <%else%>
                              <td>  <%="Approved"%></td>
                              <%end%>  
                            </tr>

                            <tr><td>Hosted By</td><td><%=User.find_by(id:@event.user_id).email%></td></tr>

                          </tbody>
                       </table>    
                          <iframe width="500" height= "500" src="https://maps.google.com/maps?q=<%=@event.latitude%>,<%=@event.longitude%>&hl=es;z=14&output=embed">

                          </iframe>
                    
                    <div>
                      <%= link_to "Back", admin_events_path, class:"btn btn-secondary"%>

                    </div>


                </div>
              </div>
          </div>
      </div>
    </section>

</main><!-- End #main -->
<%= render partial: "shared/footer" %>




















