<p style="color: green"><%= notice %></p>


<%= render partial: "shared/header" %>
<%= render partial: "shared/sidebar" %>

<main id="main" class="main">
    <div class="pagetitle">
      <h1>Event Detail</h1>
      
    </div><!-- End Page Title -->
    <section class="section Users">
      <div class="row">
        <div class="col-12 ">
        
              <div class="card recent-sales overflow-auto">
                <div class="card-body ">
                  <h3  style="margin-top: 10px; font-weight: bold; "><%= @event.title%></h3>
                  
                                        
                <p class="card-text" style="display: flex; justify-content: center;">

            <%= form_with(model:@event,url: admin_event_update_path(@event))do |form| %>

            <table class="table">
               <tr>
                  <td>
                    <span class="text-lightgrey">Title</span>
                  </td>
                  <td><%=form.text_field :title, value:@event.title, class:"form form-control"%></td>
                </tr><tbody>

                <tr>
                  <td>
                    <span class="text-lightgrey">Location</span>
                  </td>
                  <td><%=form.text_field :location, value:@event.location, class:"form form-control"%></td>
                </tr>
                <tr>
                  <td>
                    <span class="text-lightgrey">Latitude</span>
                  </td>
                  <td><%=form.text_field :latitude, value:@event.latitude, class:"form form-control"%></td>
                </tr>
                <tr>
                  <td>
                    <span class="text-lightgrey">Longitude</span>
                  </td>
                  <td><%=form.text_field :longitude, value:@event.longitude, class:"form form-control"%></td>
                </tr>
                <tr>
                  <td>
                    <span class="text-lightgrey">Category</span>
                  </td>
                  <td><%= form.select :event_category_id, options_for_select(@options_all,@selected),{},{:class =>"form-select"}%></td>

                </tr>
                <tr>
                  <td>
                    <span class="text-lightgrey">Start Date</span>
                  </td>
                  <td><%=form.text_field :start_date, value:@event.start_date.strftime('%b %e, %Y'), class:"form form-control"%></td>
                </tr>
                <tr>
                  <td>
                    <span class="text-lightgrey">Start Time</span>
                  </td>
                  <td><%=form.text_field :start_time, value:@event.start_time.strftime("%I:%M%P"), class:"form form-control"%></td>
                </tr>


                
                <tr>
                  <td>
                    <span class="text-lightgrey">End Date</span>
                  </td>
                  <td><%=form.text_field :end_date, value:@event.end_date.strftime('%b %e, %Y'), class:"form form-control"%></td>
                </tr>
                  <tr>
                  <td>
                    <span class="text-lightgrey">End Time</span>
                  </td>
                  <td> <%=form.text_field :end_time, value:@event.end_time.strftime("%I:%M%P"), class:"form form-control"%></td>
                </tr>
                <tr>
                  <td>
                    <span class="text-lightgrey">Description</span>
                  </td>
                  <td><%=form.text_field :description, value:@event.description, class:"form form-control"%></td>
                </tr>
                 <tr>
                  <td>
                    <span class="text-lightgrey">Hosted by</span>
                  </td><% user = User.find_by(id: @event.user_id) %>
                  <td><input class = "form form-control" value="<%=user.email%>" disabled></td>
                </tr>
                <tr>
                  <td>
                    
                  </td>
                  <td><%=form.submit "Update Event", class:"btn btn-primary"%></td>
                </tr>
                
                <%end%>

               



                
              </tbody>
            </table>
          </p>  
          <iframe width="500" height= "500" src="https://maps.google.com/maps?q=<%=@event.latitude%>,<%=@event.longitude%>&hl=es;z=14&output=embed"></iframe>

          <div>
          <br>
            <%= link_to "Back", admin_events_path %>
         </div>
                </div>
              </div>
          </div>
      </div>
    </section>

</main><!-- End #main -->
<%= render partial: "shared/footer" %>




















