<p style="color: green"><%= notice %></p>

<%= render partial: "shared/header" %>
<%= render partial: "shared/sidebar" %>


<main id="main" class="main">
    <div class="pagetitle">
      <h1>Manage Hashtags</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Home", authenticated_root_path %></li>
          <li class="breadcrumb-item">Hashtag Management</li>
          <li class="breadcrumb-item active">Hashtags</li>
        </ol>
      </nav>
    </div>
     <section class="section Users">
      <h1>New hashtag</h1>

        <%= render "form", hashtag: @hashtag %>

        <br>

        <div>
          <%= link_to "Back", admin_hashtags_path ,class:"btn btn-secondary"%>
        </div>


    </section>

</main><!-- End #main -->
<%= render partial: "shared/footer" %>








