p style="color: green"><%= notice %></p>

<%= render partial: "shared/header" %>
<%= render partial: "shared/sidebar" %>


<main id="main" class="main">
    <div class="pagetitle">
      <h1>Events</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Home", authenticated_root_path %></li>
          <li class="breadcrumb-item">Events</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section Users">
      <div class="row">
        <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="card-body">
                  <h5 class="card-title">Event <span>| List</span></h5>

                <table class="table table-borderless datatable" >

                <thead>
                    <tr>
                    <th scope="col">Event Title</th> 
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Approved</th>
                    

                    </tr>
                </thead>
                  <tbody>
                    <% @events.each do |e| %>
                    <tr>
                      <td><%= e.title %></a></td>
                       <td><%= e.start_date %></a></td> 
                        <td><%= e.end_date %></a></td>                    
                      <% if e.event_status == false %>
                        <% cat_status = "disapproved"%>
                        <td><span class="badge bg-danger"><%= cat_status %></span></td>
                      <% else %>
                        <% cat_status = "approved"%>
                      <td><span class="badge bg-success"><%= cat_status %></span></td>
                      <% end %>
                    
                    <% if e.is_approved == false %>
                        <% cat_status = "disapproved"%>
                        <td><span class="badge bg-danger"><%= cat_status %></span></td>
                      <% else %>
                        <% cat_status = "approved"%>
                      <td><span class="badge bg-success"><%= cat_status %></span></td>
                      <% end %>
                    </tr>
                    <% end %>
                  </tr>
                  </tbody>
                </table>
              </div>
              </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->
<%= render partial: "shared/footer" %>