<%= render partial: "shared/header" %>
<%= render partial: "shared/sidebar" %>


<main id="main" class="main">
    <div class="pagetitle">
      <h1>Manage Users</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Home", authenticated_root_path %></li>
          <li class="breadcrumb-item">User Management</li>
          <li class="breadcrumb-item active">Users</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section Users">
      <div class="row">

        <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="card-body">
                  <h5 class="card-title">Users <span>| List</span></h5>

               <table class="table table-borderless datatable" >
                <thead>
                    <tr>
                    <th scope="col">Name</th> 
                    <th scope="col" >Email</th>
                    <th scope="col">Status</th>
                    <th scope="col">Toggle Status</th>
                    <th scope="col">Delete User</th>

                    </tr>
                </thead>
                <tbody>
                    <% @users.each do |u| %>
                    <tr>
                    <% if u.profile.present? %>
                    <td><%= link_to u.profile.first_name,admin_user_path(u)%></a></td>                    
                    <% else %>
                    <td><%= link_to "User",admin_user_path(u)%></td>
                    <% end %>
                    <td><%= u.email %></td>
                    <% if u.status == 'suspended' %>
                    <td><span class="badge bg-danger"><%= "Suspended" %></span></td>
                    <% else %>
                    <td><span class="badge bg-success"><%= "Active" %></span></td>
                    <% end %>
                    <td><% if u.status == 'active' %>
                      <%= link_to "",  update_status_admin_user_path(u),data:{'turbo-method': :patch, turbo_confirm: 'Are you sure you want to suspend this user?'}, class: "fa fa-lock-open text-decoration-none", style:"color: green;" %>
                    <% else %>
                      <%= link_to "", update_status_admin_user_path(u),data:{'turbo-method': :patch , turbo_confirm: 'Are you sure you want to activate this user?'}, class: "fa fa-lock text-decoration-none", style:"color: red;" %>
                    <% end %>
                    </td>
                    <td><%= link_to "",admin_user_path(u),data:{turbo_method: :delete,turbo_confirm: 'Are you sure?'}, class: "fa-solid fa-trash"%></td>
                    </tr>
                    <% end %>
                </tbody>
                </table>


                </div>

              </div>
            </div>

      </div>
    </section>

</main><!-- End #main -->
<%= render partial: "shared/footer" %>
