<%= form_with(url:admin_event_categories_path ,scope: :event_category) do |form| %>
  <% if event_category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event_category.errors.count, "error") %> prohibited this event_category from being saved:</h2>

        <ul>
          <% event_category.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

      <div>
        <%= form.label :event_category, style: "display: block" %>
        <%= form.text_field :event_category , class:"form-control" %>
      </div>

      <br>

<<<<<<< HEAD
  <div>
    <%= form.text_field :status , class:"form-control" ,hidden:true, value:"active"%>
  </div>
=======
      <div>
        <%= form.label :status, style: "display: block" %>
        <%= form.text_field :status , class:"form-control" %>
      </div>
>>>>>>> origin/development


      <br>
      <div>
        <%= form.submit class: "btn btn-primary"  %>
      </div>
    <% end %>
