<p style="color: green"><%= notice %></p>

<%= render partial: "shared/header" %>
<%= render partial: "shared/sidebar" %>


<main id="main" class="main">
    <div class="pagetitle">
      <h1>Manage Categories</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Home", authenticated_root_path %></li>
          <li class="breadcrumb-item">Categories Management</li>
          <li class="breadcrumb-item active">Categories</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section Users">
      <div class="row">
        <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="card-body">
                <div class ="row">
                  <div class ="col-3">
                    <h5 class="card-title">Category <span>| List</span></h5>
                  </div>
                  <div class="col-8"></div>
                  <div class="col-1 p-3"><%= link_to "", new_admin_event_category_path,title:"Add new category",class:"fa-solid fa-user-plus"%></div>
                  

                <table class="table table-borderless datatable" >

                <thead>
                    <tr>
                    <th scope="col">Category Name</th> 
                    <th scope="col">Status</th>
                    <th scope="col">Toggle Status</th>
                    <th scope="col">Actions</th>

                    </tr>
                </thead>
                  <tbody>
                    <% @event_categories.each do |e| %>
                    <tr>
                      <td><%= e.event_category %></a></td>                    
                      <% if e.status == false %>
                        <% cat_status = "disapproved"%>
                        <td><span class="badge bg-danger"><%= cat_status %></span></td>
                      <% else %>
                        <% cat_status = "approved"%>
                      <td><span class="badge bg-success"><%= cat_status %></span></td>
                      <% end %>
                      <td><% if e.status == true %>
                        <%= link_to "",  update_status_admin_event_category_path(e),data:{'turbo-method': :patch , turbo_confirm: 'Are you sure you want to suspend this category?'}, class: "fa fa-lock-open text-decoration-none", style:"color: green;" %>
                      <% else %>
                        <%= link_to "", update_status_admin_event_category_path(e),data:{'turbo-method': :patch , turbo_confirm: 'Are you sure you want to activate this category?'}, class: "fa fa-lock text-decoration-none", style:"color: red;" %>
                      <% end %>
                      </td>
                      <td>
                      <div class="action-links">
                      
                        <%= link_to "", edit_admin_event_category_path(e), class: "fa-solid fa-pencil text-decoration-none", style: "margin-right: 10px;" %>
                        <%= link_to "", admin_event_category_path(e), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "fa-solid fa-trash" %>
                      </div>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->
<%= render partial: "shared/footer" %>
